
@inject ConfigureMS.StartConfigurationMS configure;

@{
    ViewData["Title"] = "Customize";
    bool wasConfigured = configure.IsConfigured();
}
<style>
    .field-validation-error {
        color: red
    }
    .validation-summary-errors {
        color: red
    }
</style>

<h1>Start Customizing</h1>
@if (wasConfigured)
{
    <text>
        Last Configuration: @configure.ConfiguredAt
    </text>
}
<form asp-controller="Home" asp-action="Save" method="post">
    <div asp-validation-summary="All"></div>

    </form>

