@using System.Linq;
@Model  ConfigureMS.SHIM_StartConfigurationMS
@*@inject ConfigureMS.StartConfigurationMS configure;*@

@{
    ViewData["Title"] = "Customize";
    bool wasConfigured = Model.IsConfigured();
    SelectListItem[] Mainproviders = new SelectListItem[0];
    if (Model.MainProviders?.Length > 0)
    {
        var nr = Model.MainProviders.Length;
        Mainproviders = new SelectListItem[nr];
        for (int i = 0; i < nr; i++)
        {
            var str = Model.MainProviders[i];
            Mainproviders[i] = new SelectListItem(str, str);

        }
    }
}
<style>
    .field-validation-error {
        color: red
    }

    .validation-summary-errors {
        color: red
    }
</style>

<div class="text-center">
    <h1 class="display-4">Start Customizing @Model.Name</h1>
</div>

@if (wasConfigured)
{
    <text>
        Last Configuration: @Model.ConfiguredAt
    </text>
}
<form asp-controller="Home" asp-action="Save" method="post">
    <div asp-validation-summary="All"></div>

    Providers @Model.MainProviders.Length :

    <select asp-for="ChoosenMainProvider" asp-items="Mainproviders"></select>


</form>



