
@inject ConfigureMS.StartConfigurationMS configure;

@{
    ViewData["Title"] = "Customize";
    bool wasConfigured = configure.IsConfigured();
}
<style>
    .field-validation-error {
        color: red
    }

    .validation-summary-errors {
        color: red
    }
</style>

<div class="text-center">
    <h1 class="display-4">Start Customizing @configure.Name</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (wasConfigured)
{
    <text>
        Last Configuration: @configure.ConfiguredAt
    </text>
}
<form asp-controller="Home" asp-action="Save" method="post">
    <div asp-validation-summary="All"></div>

</form>

